#######################################################################################################################
# Sample configuration file                                                                                           #
# This one is used by test_configuration_file process definition                                                      #            #
# Naming convention: configuration file is always called <process_definition_name>.config                             #
# and is stored in the same directory as the process definition                                                       #
# Configuration file is optional, process can be run without it.                                                       #
# If configuration file is provided, it is passed to the process as a file.                                            #
# Configuration can contain anything, typically properties in key=value format, or JSON, XML, YAML, etc.              #
# Process is responsible for parsing and using the configuration file.                                                 #
#######################################################################################################################

db.host=localhost
db.login=test
db.password=pass

api.base.url=https://api.home.com
api.key.1=xfdfadfadfadf
api.key.2=fdfadfxfdfadfadfadf

